.inputName {
    margin-bottom: 3rem;
    display: block;
    unicode-bidi: isolate;
}
.inputName input{
    width: 95.5%;
    padding: .75rem 1rem;
    border: 2px solid #6ea171;
    border-radius: 6px;
    transition: all .2s ease;
    background-color: #6ea1710d;
}