.main{
    display: flex;
    justify-content: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Cannon_fire_-_M109_self-propelled_howitzer.jpg/1200px-Cannon_fire_-_M109_self-propelled_howitzer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 500px;
    background-size: 100% 120%;
    align-items: center;
}

.main h1{
    color:  #e1d798;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, .4);
    letter-spacing: 1.5px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .5));
    
}
.main p{
    color:  #ffffff;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    color: #fff;
    opacity: .9;
}

.text{
    text-align: center;
}

